body {
  min-width: 960px;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  padding: 0;
  margin: 0;

}
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

* {
  box-sizing: border-box;
}

button,
input {
  outline: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 220px;
  cursor: pointer;
}

.main-search {
  width: 270px;
  float: left;
  box-sizing: border-box;
}

.main-bookmark {
  float: left;
  width: 150px;
}

.shop-cart {
  float: left;
  width: 150px;
}

.place-order {
  float: right;
  width: 150px;
}

.header-descr {
  float: left;
  width: 320px;
  padding-right: 20px;
}

.contacts {
  float: left;
  width: 300px;
  padding-right: 30px;
}

.auth {
  float: right;
  width: 300px;
  margin-left: 20px;
}

.main-nav {
  clear: both;
}

.main-nav li {
  display: inline-block;
}

.materials {
  float: left;
  width: 300px;
  margin-right: 20px;
  clear: both;
}

.tool {
  float: left;
  width: 300px;
  margin-right: 20px;
}

.technic {
  float: right;
  width: 300px;
}

.slider {
  float: left;
  margin-right: 20px;
}
.discounts {
  float: right;
  width: 300px;
  margin-top: 20px;
}

.transfer {
  float: right;
  width: 300px;
  margin-top: 20px;
}

.popular>div {
  float: left;
}

.popular>a {
  float: right;
}

.products .card-product {
  float: left;
  margin-right: 20px;
  width: 220px;
}

.products .card-product:last-child {
  margin-right: 0;
}

.catalog-items {
  font-size: 0;
  margin-top: 20px; 
  overflow: hidden;
}

.catalog-item {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ccc;
  float: left;
  margin-right: 20px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.new:before {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  content: "";
  background: url("../img/new.png") no-repeat 0 0;
  z-index: 10;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 135px;
  padding: 40px 0;
  background-color: #fff; 
}

.actions .buy,
.actions .bookmark {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background-color: #63a63e;
}

.actions .buy::before {
  position: absolute;
  text-transform: none;
  text-decoration: none;
  top: 9px;
  left: 12px;
  font-family: "symbols-technomart";
  content: "\62";
  font-size: 17px;
  color: #fff;
  opacity: .3;
}

.actions .buy:hover::before {
  opacity: 1;
}

.actions .buy:active::before {
  opacity: 1;
}

.actions .buy {
  box-shadow: inset 0 -3px 0 #367315;
  position: relative;
}

.actions .buy:hover {
  background-color: #5fbb2d;
}

.actions .buy:active {
  background-color: #518534;
  border: none;
}

.actions .bookmark {
  width: 135px;
  padding: 7px 0;
  color: #63a63e;
  border: 3px solid #63a63e;
  background-color: #fff;
}

.actions .bookmark:hover {
  border: 3px solid #32425c;
}

.actions .bookmark:active {
  border: 3px solid #c1c6ce;
  color: rgba(50,66,92,.3);
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item-image {
  width: 218px;
  height: 168px;
  overflow: hidden;
  line-height: 0;
}

.catalog-item-image img {
  max-width: 100%;
  height: 168px;
  width: 218px;
  text-align: center;
}

.catalog-item .title {
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 9px;
  padding: 0 25px;
  line-height: 20px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-bottom: 5px;
  text-decoration: line-through;
  color: #999;
}

.catalog-item .price {
  position: relative;
  width: 140px;
  margin: 0 auto 18px;
  padding: 8px 30px;
  color: #fff;
  border-radius: 3px;
  background-color: #ee3643;
}

.catalog-item .price:after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: "";
  border: 20px solid #fff;
  border-left-color: #ee3643;
}

.catalog-item .marbottom {
  margin-bottom: 38px;
}

.uppercase {
  text-transform: uppercase;
}
.brands {
  clear: both;
}

.brands .card-product {
  display: block;
  float: left;
  width: 220px;
  margin-right: 20px;
}

.brands .card-product:nth-child(4n) {
  margin-right: 0;
}

.column-left {
  float: left;
  width: 540px;
  margin-right: 100px;
}

.column-left p:last-child {
  padding-top: 25px;
}
.column-right {
  float: right;
  width: 300px;
}

.footer-left {
  float: left;
  width: 380px;
  margin-right: 10px;
}

.footer-right {
  float: right;
  width: 550px;
}

.footer-right ul {
  font-size: 0;
}

.footer-right ul li {
  display: inline-block;
}

.copyright {
  float: left;
  width: 240px;
  margin-right: 150px;
}

.footer-social {
  float: left;
  width: 150px;
  margin-right: 100px;
}

.callback {
  float: left;
  margin-right: 20px;
}

.callback:last-child {
  margin-right: 0;
}

.social-btn {
  float: left;
  margin-right: 5px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  background-color: #212a3a;
}

.social-btn:last-child {
  margin-right: 0;
}

.breadcrumbs li {
  float: left;
}

.left-filter {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.right-filter {
  float: left;
  width: 700px;
}

.right-filter .uppercase {
  display: inline-block;
}

.right-filter ul {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 460px;
  margin-left: 133px;
}

.right-filter ul li {
  display: inline-block;
  vertical-align: middle;
}

.right-filter a{
  color: rgba(0,0,0,.3);
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
  display: block;
}
.right-filter a.active {
  color: #ee3643;
  border: none;
}
.right-filter .arrow {
  border: none;
}
.right-filter .arrow:hover {
  border: none;
}
.right-filter a:hover {
  color: rgba(0,0,0,1);
  border-bottom: 1px solid #ee3643;
}

.right-filter a:active {
  color: #ee3643;
  border: none;
}

.right-filter li:nth-child(1) a{
  margin-right: 70px;
}

.right-filter li:nth-child(2) {
  margin-right: 62px;
}

.right-filter li:nth-child(3) {
  margin-right: 45px;
}

.right-filter li:nth-child(4) {
  position: relative;
  width: 10px;
  height: 10px;
}

.right-filter li:nth-child(5) {
  position: relative;
  width: 10px;
  height: 10px;
}

.right-filter li:nth-child(4) a::before {
  position: absolute;
  width: 10px;
  height: 10px;
  content: "\25b2";
  font-family: "symbols-technomart";
  color: #ee3643;
  top: -4px;
  left: -2px;
  font-size: 23px;
  text-transform: none;
  text-decoration: none;
}

.right-filter li:nth-child(4) a:hover::before {
  color: #000;
  border: none;
}

.right-filter li:nth-child(4) a:active::before {
  color: #ee3643;
}

.right-filter li:nth-child(5) a::before {
  position: absolute;
  width: 10px;
  height: 10px;
  content: "\25bc";
  font-family: "symbols-technomart";
  color: #c6c2bd;
  top: -4px;
  left: 17px;
  font-size: 23px;
  text-transform: none;
  text-decoration: none;
}

.right-filter li:nth-child(5) a:hover::before {
  color: #000;
  border: none;
}

.right-filter li:nth-child(5) a:active::before {
  color: #ee3643;
}

.filter-form {
  float: left;
  margin-right: 20px;
  width: 220px;
}

.catalog {
  float: right;
  width: 700px;
}

.catalog .catalog-item{
  margin-right: 20px;
}

.catalog .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.card-product {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.card-product:nth-child(3n) {
  margin-right: 0;
}

.pagination {
  clear: both;
  float: right;
  width: 700px;
}

.about-product {
  clear: both;
}

.pagination li {
  float: left;
}

.top-header {
  height: 42px;
  background-color: #293449;
}

.logo {
  line-height: 0;
  box-shadow: 0 5px 0 0 #b52933;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
}

.logo img {
  width: 220px;
  height: 42px;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.logo-bottom{
  line-height: 0;
  box-shadow: 0 5px 0 0 #b52933;
  width: 220px;
  height: 64px;
  background-color: #ee3643;
  display: inline-block;
}

.logo-bottom a {
  padding: 20px 20px;
  display: inline-block;
}

.logo-bottom img {
  width: 220px;
  height: 64px;
}

.main-header {
  position: relative;
  font-family: "Cuprum", sans-serif;
}

.main-header input[type="search"] {
  border: none;
  background-color: #293449;
  height: 100%;
  color: #fff;
  font-size: 17px;
  padding-left: 49px;
  padding-top: 11px;
  padding-right: 10px;
  padding-bottom: 12px;
  width: 270px;
  box-sizing: border-box;
}

input[type="search"]:hover {
  background-color: #212a3a;
}

input[type="search"]:focus {
  outline: none;
  background-color: #fff;
  color: #000;
}

::-webkit-input-placeholder {
  color:#fff;
  opacity:1;
}

::-moz-placeholder          {
  color:#fff;
  opacity:1;
}

:-moz-placeholder           {
  color:#fff;
  opacity:1;
}

:-ms-input-placeholder      {
  color:#fff;
  opacity:1;
}

.main-search {
  position: relative;
  height: 42px;
}

.main-search label::before {
  font-family: "symbols-technomart";
  content: "\1f50d";
  width: 17px;
  height: 17px;
  position: absolute;
  left: 18px;
  top: 9px;
  font-size: 17px;
  color: #fff;
  opacity: .3;
  text-transform: none;
  text-decoration: none;
}

input:hover ~ label:before {
  opacity: 1;
}

input:focus ~ label:before {
  color: #ee3643;
  opacity: 1;
}

.main-bookmark {
  padding: 13px 27px 12px 44px;
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  display: block;
  position: relative;
}

.main-bookmark::before {
  font-family: "symbols-technomart";
  content: "\1f516";
  width: 14px;
  height: 16px;
  position: absolute;
  left: 17px;
  top: 12px;
  opacity: .3;
  color: #fff;
  text-transform: none;
  text-decoration: none;
}

.main-bookmark:hover::before {
  opacity: 1;
}

.main-bookmark:active::before {
  opacity: .3;
}

.main-bookmark:hover {
  background-color: #212a3a;
}

.main-bookmark:active {
  background-color: #161d29;
}

.shop-cart {
  position: relative;
  padding: 12px 2px 13px 27px;
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  display: block;
}
.shop-cart::before {
  font-family: "symbols-technomart";
  content: "\62";
  width: 19px;
  height: 16px;
  position: absolute;
  left: 17px;
  top: 12px;
  opacity: .3;
  text-transform: none;
  text-decoration: none;
}

.shop-cart:hover::before {
  opacity: 1;
}

.shop-cart:active::before {
  opacity: .3;
}

.shop-cart:hover {
  background-color: #212a3a;
}

.shop-cart:active {
  background-color: #161d29;
}

.place-order {
  padding: 12px 21px 13px 20px;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  background-color: #63a63e;
  display: block;
}

.place-order:hover {
  background-color: #5fbb2d;
}

.place-order:active {
  background-color: #518534;
}

.middle-header {
  padding-top: 45px;
  background-color: #f1f5f7;
  padding-bottom: 60px;
}

.main-title {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  padding-left: 53px;
  padding-top: 3px;
  margin: 0;
}

.phone {
  position: relative;
  padding: 8px 42px 10px 73px;
  border: 3px solid #fff;
  font-size: 21px;
  color: #e9292a;
  width: 270px;
}

.phone::before {
  font-family: "symbols-technomart";
  content: "\1f4de";
  width: 19px;
  height: 16px;
  position: absolute;
  left: 13px;
  top: 10px;
  color: #b7bfc8;
  text-transform: none;
  text-decoration: none;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active{
  background-color: #ba2732;
}

.btn-auth {
  position: relative;
  padding: 13px 9px 15px 48px;
  background-color: #fff;
  color: #000;
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  float: left;
  height: 45px;
  display: inline-block;
}
.button-enter {
  margin-left: 0;
}
.button-enter::before {
  font-family: "symbols-technomart";
  content:"\1f468";
  font-size: 18px;
  color: #c5c5c5;
  text-decoration: none;
  position: absolute;
  top: 13px;
  left: 15px;
  text-transform: none;
}

.button-enter:hover::before {
  color: #32425c;
}

.button-enter:active::before {
  color: #c5c5c5;
}

.button-enter:active {
  color: #c9c9c9;
}

.button-exit::before {
  font-family: "symbols-technomart";
  content:"\241b";
  font-size: 22px;
  color: #c5c5c5;
  text-decoration: none;
  position: absolute;
  top: 13px;
  left: 28px;
  text-transform: none;
}

.button-exit:hover::before {
  color: #32425c;
}

.button-exit:active::before {
  color: #c5c5c5;
}

.btn-private {
  font-size: 16px;
  color: #32425c;
  text-align: center;
  display: inline-block;
  padding: 5px 17px 0 15px;
  position: relative;
}

.auth .btn-private:last-child::before {
  content: "";
  width: 4px;
  height: 5px;
  background-color: #32425c;
  position: absolute;
  border-radius: 50%;
  top: 15px;
  left: -4px;
}

.btn-private:hover {
  color: #ee3643;
}

.btn-private:active {
  color: #c3c9cf;
}

.btn-enter {
  position: relative;
  padding: 13px 27px 15px 48px;
  background-color: #fff;
  color: #000;
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  float: left;
  width: 120px;
}

.btn-enter::before {
  font-family: "symbols-technomart";
  content: "\2386";
  width: 19px;
  height: 19px;
  position: absolute;
  left: 15px;
  top: 14px;
  color: #c5c5c5;
  text-transform: none;
  text-decoration: none;
}

.btn-enter:hover::before {
  color: #32425c;
}

.btn-enter:active::before {
  color: #c5c5c5;
}

.btn-enter:hover {
  color: #ee3643;
}

.btn-enter:active {
  color: #b2b2b2;
}

.btn-reg {
  float: left;
  width: 150px;
  padding: 13px 25px 15px 25px;
  background-color: #fff;
  color: #000;
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  margin-left: 10px;
}

.btn-reg:hover {
  color: #ee3643;
}

.btn-reg:active {
  color: #b2b2b2;
}

.main-nav {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  float: left;
  width: 100%;
  margin-top: 40px;
}

.main-nav ul {
  margin: 0;
  padding: 0 21px;
  font-size: 0;
}

.main-nav li {
  list-style-type: none;
}

.main-nav li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
  padding: 21px 31px 18px 30px;
}

.main-nav li:hover {
  background-color: #293449;
}

.main-nav li:active {
  background-color: #1d2739;
}

.main-nav li a:active {
  color: #a6a8ad;
}

.main {
  margin-top: 60px;
}

.arrows {
  display: inline-block;
  margin: 0 5px;
  vertical-align: top;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.arrows label[for="btn-1"]::before {
  font-family: "symbols-technomart";
  content: "\3c";
  color: #fff;
  position: absolute;
  z-index: 50;
  top: 120px;
  left: 25px;
  cursor: pointer;
  text-transform: none;
  font-size: 45px;
  text-decoration: none;
}

.arrows label[for="btn-2"]::before {
  font-family: "symbols-technomart";
  content: "\3e";
  color: #fff;
  position: absolute;
  z-index: 50;
  top: 120px;
  right: 21px;
  cursor: pointer;
  font-size: 45px;
  text-transform: none;
  text-decoration: none;
}

.slider {
  position: relative;
  width: 620px;
  min-height: 266px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20px;
  background: #806f5d;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 266px;
  background-repeat: no-repeat;
  background-position: 100% 10px;
  -webkit-transition: left 0.3s ease;
     -moz-transition: left 0.3s ease;
          transition: left 0.3s ease;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 35px;
  left: 50%;
  z-index: 10;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  line-height: 0;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  vertical-align: top;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slides .slide:first-child .slide-text{
  position: absolute;
  width: 620px;
  padding: 26px 24px;
  background: url(../img/bgslide.png) no-repeat center top;
  height: 105px;
}

.slides .slide:last-child .slide-text{
  position: absolute;
  width: 620px;
  padding: 26px 24px;
  background:  url(../img/bgslide2.png) no-repeat center top;
  height: 105px;
}

.slide-title {
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
}

.slide p {
  font-size: 18px;
  color: #fff;
  margin-top: 5px;
}

.slide .btn-slide {
  padding: 12px 48px;
  position: absolute;
  bottom: 23px;
  left: 26px;
}

.slide:nth-child(1) {
  background: url("../img/slider-img.jpg") left top no-repeat;
}

.slide:nth-child(2) {
  background: url("../img/slider-img2.jpg") left top no-repeat;
}


#btn-1:checked ~ .slides .slide:nth-child(1) {
  left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2) {
  left: 660px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
  left: -660px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  left: 0;
}

#btn-3:checked ~ .slides .slide:nth-child(1) {
  left: -660px;
}

#btn-3:checked ~ .slides .slide:nth-child(2) {
  left: -660px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background: #ee3643;
}

.block {
  padding: 17px 0 20px 22px;
  position: relative;
  height: 123px;
  overflow: hidden;
}

.block>div {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  font-weight: bold;
}

.block>a {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  width: 135px;
  height: 38px;
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
  margin-top: 15px;
  position: absolute;
  top: 45px;
  left:25px;
  border-radius: 3px;
  background-color: rgba(0,0,0,.1);
}

.block>a:hover {
  background-color: rgba(0,0,0,.2);
}

.block>a:active {
  background-color: rgba(0,0,0,.3);
}

.materials {
  background: #f6b22d url(../img/sprite.png) no-repeat -11% 58%;
}

.tool {
  background: #4aafde url(../img/sprite.png) no-repeat 9% 63%;
}

.technic {
  background: #cc79d1 url(../img/sprite.png) no-repeat 28.6% 60%;
}

.discounts {
  background: #85d179 url(../img/sprite.png) no-repeat 50.5% 50%;
}

.transfer {
  background: #f6b22d url(../img/sprite.png) no-repeat 73% 50%;
}

.popular {
  padding: 23px 25px 25px 27px;
  background-color: #f7f3ec;
  font-family: "Cuprum", sans-serif;
}

.popular>div {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 5px;
}

.popular>a {
  width: 253px;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;
  height: 37px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.card-product {
  width: 220px;
  border: 1px solid #e5e5e5;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  vertical-align: middle;
}
.card-product img{
  line-height: 140px;
  vertical-align: top;
}

.products  .index-product {
  margin-right: 20px;
}

.products .index-product:nth-child(4n) {
  margin-right: 0;
}

.brands .card-product {
  margin-right: 20px;
  height: 145px;
  line-height: 120px;
  width: 220px;
}

.brands .card-product:hover {
  box-shadow: 0 10px 20px 0 #a9adb5;
}

.brands .card-product:active {
  box-shadow: 0 10px 10px 0 #a9adb5;
  opacity: .3;
}

.brands .card-product img{
  vertical-align: middle;
}

.brands .card-product:nth-child(4n) {
  margin-right: 0;
}

.contact {
  padding: 0 0 85px;
  margin-top: 71px;
}

.main .contact h2 {
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 26px;
  font-family: "Cuprum", sans-serif;
  font-weight: normal;
}

.contact p {
  font-size: 13px;
  line-height: 24px;
  margin: 24px 0 6px;
}

.default-list {
  margin: 0;
  padding: 0;
}

.default-list li {
  padding-left: 35px;
  list-style-type: none;
  font-size: 18px;
  line-height: 20px;
  padding-top: 18px;
  position: relative;
  font-family: "Cuprum", sans-serif;
}

.default-list li::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.btn {
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  background-color: #ee3643;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: "Cuprum", sans-serif;
}

.btn-small {
  float: left;
  padding: 13px 40px;
  margin-top: 38px;
}

.btn-map {
  padding: 12px 62px;
  float: right;
  margin-top: 32px;
}

.map {
  margin-top: 29px;
}

.footer-top {
  background-color: #32425c;
}

.footer-bottom {
  background-color: #293449;
  padding: 36px 0 35px 0;
}

.footer-left>div {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  padding-top: 31px;
  padding-bottom: 51px;
}

.footer-right li {
  list-style-type: none;
  padding-right: 57px;
}

.footer-right li:hover a{
  text-decoration: underline;
}

.footer-right li:last-child {
  padding-right: 0;
}

.footer-right li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.footer-right ul:first-child {
  margin: 0;
  padding: 37px 0 0 2px;
}

.footer-right ul:last-child {
  margin: 0;
  padding-left: 26px;
  padding-top: 28px;
}

.footer-right ul:last-child li a{
  color: #ffd180;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.social-btn-vk::before {
  font-family: "symbols-technomart";
  content:"\76";
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 10px;
  text-transform: none;
}

.social-btn-fb::before {
  font-family: "symbols-technomart";
  content:"\66";
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 15px;
  text-transform: none;
}

.social-btn-inst::before {
  font-family: "symbols-technomart";
  content:"\1f4f7";
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 13px;
  text-transform: none;
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}

.develop-name {
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 16px;
}

.allocation {
  font-size: 16px;
  color: #ffd180;
  text-decoration: none;
  line-height: 16px;
}

.allocation:hover {
  text-decoration: underline;
}

.allocation:active {
  text-decoration: none;
  color: #ee3643;
}

.callback:last-child {
  padding-left: 30px;
}

.services {
  background-color: #f2f6f8;
  margin-bottom: 53px;
  margin-top: 61px;
  font-family: "Cuprum", sans-serif;
}

.services p {
  font-family: "PT Sans", "Arial", sans-serif;
}

.services-bott {
  margin-top: 85px;
  margin-top: 79px;
}

.sub-title {
  font-family: "Cuprum", sans-serif;
  padding-top: 79px;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.service-slider {
  position: relative;
  text-align: left;
  color: #000;
  height: 288px;
  margin-top: 73px;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.service-slides h3{
  font-size: 36px;
  color: #32425c;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 31px;
}

.sliders-controls {
  float: left;
  width: 240px;
  position: relative;
}

.service-slider .sliders-controls::before {
  position: absolute;
  top: -32px;
  right: 0px;
  content:"";
  width: 8px;
  height: 242px;
  background: url(../img/shadow.png) no-repeat right 10%;
}

.service-slides {
  float: right;
  width: 700px;
  padding-left: 80px;
  height: 100%;
}

.sliders-controls label {
  display: block;
  width: 240px;
  height: 60px;
  background-color: #32425c;
  padding: 18px 20px;
  text-align: left;
  color: #fff;
  font-size: 21px;
  cursor: pointer;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  font-weight: bold;
}

.sliders-controls label:last-child {
  border-bottom: none;
}

.sliders-controls label:first-child {
  border-top: none;
}

.sliders-controls label:hover {
  background-color: #293449;
}

.service-slider .slider-controls {
  position: absolute;
  bottom: 100px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.service-slider> input[type="radio"] {
  display: none;
}

.service-slider .service-slide {
  display: none;
}

#p1:checked ~ .service-slides .service-slide:nth-child(1),
#p2:checked ~ .service-slides .service-slide:nth-child(2),
#p3:checked ~ .service-slides .service-slide:nth-child(3) {
  display: block;
}

#p1:checked ~ .sliders-controls label[for="p1"],
#p2:checked ~ .sliders-controls label[for="p2"],
#p3:checked ~ .sliders-controls label[for="p3"] {
  background-color: #ffffff;
  color: #32425c;
}

input[id=p1]:checked~.service-slides .service-slide:nth-child(1),
input[id=p2]:checked~.service-slides .service-slide:nth-child(2),
input[id=p3]:checked~.service-slides .service-slide:nth-child(3) {
display: block;
-webkit-animation: slideleft .6s forwards;
animation: slideleft .6s forwards;
}

@-webkit-keyframes slideleft {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
} 

@keyframes slideleft {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


.slider-btn {
  padding: 10px 40px;
  margin-top: 20px;
  display: inline-block;
}

#p1:checked ~ .service-slides .service-slide:nth-child(1) {
  background: url("../img/delivery.png") no-repeat right 51%;
  height: 100%;
}

#p2:checked ~ .service-slides .service-slide:nth-child(2) {
  background: url("../img/guarantee.png") no-repeat right 51%;
  height: 100%;
}

#p3:checked ~ .service-slides .service-slide:nth-child(3) {
  background: url("../img/credit.png") no-repeat right 51%;
  height: 100%;
}

.breadcrumbs {
  padding-left: 0;
}

.breadcrumbs li {
  padding-left: 40px;
  list-style-type: none;
  position: relative;
  font-size: 13px;
  text-transform: uppercase;
}

.breadcrumbs li a {
  color: #000;
  text-decoration: none;
}

.breadcrumbs li:first-child {
  padding-left: 0;
}

.breadcrumbs li:first-child a {
  height: 16px;
  width: 16px;
  display: inline-block;
}

.breadcrumbs li::before {
  font-family: "symbols-technomart";
  content:"\3e";
  font-size: 18px;
  color: #c1c6ce;
  text-decoration: none;
  position: absolute;
  top: -1px;
  left: 16px;
  text-transform: none;
}

.breadcrumbs li:first-child::before {
  content: "";
}

.breadcrumbs li:first-child a::before{
  font-family: "symbols-technomart";
  content:"\1f3e0";
  font-size: 16px;
  color: #c1c6ce;
  text-decoration: none;
  position: absolute;
  top: -2px;
  left: 0px;
  text-transform: none;
}

.page-ttile {
  font-size: 30px;
  color: #32425c;
  padding: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
}

.left-filter {
  padding: 8px 20px;
  background-color: #f7f3ec;
}

.right-filter {
  padding: 8px 0 8px 20px;
  background-color: #f7f3ec;
}

.products {
  margin-top: 20px;
}

.filter-group {
  padding-bottom: 25px;
  margin-bottom: 18px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-form .sub-title {
  font-weight: bold;
  font-size: 17px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-bottom: 18px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 20px;
  overflow: hidden;
  background-color: #f7f3ec;
  margin-top: 18px;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background-color: #00ca74;
  margin-left: 0px;
  width: 140px;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 19px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background-color: #ababab;  
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #d4d1cb;
  box-sizing: content-box;

}

.range-controls .max-toggle {
  left: 160px;
}

.price-controls input {
  width: 95px;
  padding: 7px;
  border: none;
  background-color: #f7f3ec;
  border-radius: 5px;
  outline: none;
  text-align: center;
  font-style: normal;
  font-size: 17px;
}

.price-controls input:last-child {
  margin-left: 26px;
}

.price-controls {
  position: relative;
}

.price-controls::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 10px;
  background-color: #000;
  top: 21px;
  left: 104px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 20px;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label::before {
  content: "\2610";
  font-family: "symbols-technomart";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  color: #c1c1c1;
  font-size: 28px;
  text-transform: none;
  text-decoration: none;
}
input[type="checkbox"] + label:hover::before  {
  color: #b5b5b5;
}

input[type="checkbox"]:checked + label::before {
  content: "\2611";
  font-family: "symbols-technomart";
  text-transform: none;
  text-decoration: none;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 20px;
}

input[type="radio"] + label:last-child {
  margin-bottom: 0;
}

input[type="radio"] + label::before {
  content: "\25cb";
  font-family: "symbols-technomart";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  color: #c1c1c1;
  font-size: 28px;
  text-transform: none;
  text-decoration: none;
}
input[type="radio"] + label:hover::before {
  color: #b5b5b5;
}
input[type="radio"]:checked + label::before {
  content: "\25cf";
  font-family: "symbols-technomart";
  text-transform: none;
  text-decoration: none;
}

input[type="checkbox"]:disabled + label::before{
  opacity: .4;
}

input[type="checkbox"]:disabled + label{
  opacity: .4;
}

input[type="radio"]:disabled + label::before{
  opacity: .4;
}

input[type="radio"]:disabled + label{
  opacity: .4;
}

.filter-bottom {
  border-bottom: none;
}

.filter-form .btn {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  color: #000;
  padding: 12px 38px;
  margin-top: 33px;
  outline: none;
  font-family: "PT Sans", "Arial", sans-serif;
}

.pagination {
  margin-top: 10px;
}

.pagination li:last-child {
  padding: 0 15px;
}

.pagination li {
  list-style-type: none;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  color: #000;
  height: 38px;
  background-color: #fff;
  margin-right: 10px;
  font-size: 13px;
}

.pagination li:hover {
  border: 1px solid #bdc6ca;
}

.pagination li:active {
  border: 1px solid #ee3643;
}

.pagination li.active {
  padding: 6px 17px;
  background-color: #ee3643;
  color: #fff;
  border: none;
  width: 38px;
}

.pagination li a {
  padding: 6px 15px;
  display: inline-block;
}

.pagination ul {
  padding: 0;
}

.pagination li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.about-product {
  background-color: #f2f6f8;
  margin-top: 55px;
  padding: 49px 0 56px;
}

.about-product .aboun-name {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 30px;
  font-family: "Cuprum", sans-serif;
}

.main .about-product p {
}

.filled {
  background-color: #ee3643;
}

.main-footer {
  font-family: "Cuprum", sans-serif;
}



.modal-content {
  width: 620px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -280px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
  display: none;
}

.modal-content-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  z-index: 100;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 5px;
  background-color: #ee3643;
  border-radius: 1px;
  top: 8px;
  right: -2px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

textarea {
  height: 115px;
  width: 460px;
  resize: none;
}


.modal-content .btn{
  font-size: 14px;
  color: #fff;
  background-color: #ee3643;
  padding: 12px 0;
  border: none;
  width: 460px;
  margin: 0 auto;
  display: block;
}

.modal-container {
  width: 460px;
  margin: 0 auto;
  margin-top: 35px;
  padding-bottom: 35px;
}

.left-input {
  float: left;
  width: 220px;
  margin-right: 20px;
}
.right-input {
  float: right;
  width: 220px;
}

.modal-container label {
  display: block;
  font-size: 18px;
  font-family: "Cuprum", sans-serif;
  padding: 7px 0;
}

.modal-container label[for="textarea"] {
  padding: 16px 0 7px;
}

.left-input input,
.right-input input,
.login-form textarea {
  width: 100%;
  padding: 9px 15px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.login-form textarea {
  padding: 4px 15px;
}

.modal-content input::-moz-placeholder { 
  color: #999999; 
}

.modal-content input::-webkit-input-placeholder { 
  color: #999999; 
}

.modal-content textarea::-moz-placeholder { 
  color: #999999; 
}

.modal-content textarea::-webkit-input-placeholder { 
  color: #999999; 
}

.modal-container-footer {
  background-color: #f1f1f1;
  padding: 35px 0;
}

.modal-content-map {
  display: none;
  width: 940px;
  height: 450px;
  background: #e9e5dc url("../img/map.png") no-repeat 70% 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -470px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.show-popup {
  display: block;
   animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

@-webkit-keyframes bounce {
  0%   {
    transform: translateY(200px);
  }
  70%  {
    transform: translateY(-30px);
  }
  90%  {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%   {
    transform: translateY(200px);
  }
  70%  {
    transform: translateY(-30px);
  }
  90%  {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

